<html>
<head>
  <title>Badges</title>
  <!-- Bootstrap -->
  	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  	<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
  	<script src="/static/js/collapse.js"></script>
    <link href="/static/css/navbar.css" rel="stylesheet">
    <link href="/static/css/badges.css" rel="stylesheet">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

  {% include "navbar.html" %}

  <div class="container">
    <div class="center-block">
      <div class="row">
        <h1>Badges <span><h3>Details and Requirements</h3></span></h1>
      </div>

      <div class="row" style="margin: 3%;">
        <div class="col-md-4 text-center">
          <h3> </h3>
        </div>

        <div class="col-md-8">
          <div class="col-md-6">
            <div class="col-md-6 text-center" style="padding: 4%;">
              <h3>Platinum</h3>
            </div>
            <div class="col-md-6 text-center" style="padding: 4%;">
              <h3>Gold</h3>
            </div>
          </div>

          <div class="col-md-6">
            <div class="col-md-6 text-center" style="padding: 4%;">
              <h3>Silver</h3>
            </div>
            <div class="col-md-6 text-center" style="padding: 4%;">
              <h3>Bronze</h3>
            </div>
          </div>
        </div>
      </div> <!-- row -->

      <div class="row" style="margin: 5%;">
        <div class="col-md-4 text-center">
          <h2>Bandwidth</h2>
        </div>

        <div class="col-md-8">
          <div class="col-md-6">

            <div class="col-md-6">
              <div class="card card-block text-center" style="padding: 4%;">
                <span class="icon-rocket platinum" style="font-size: 4em; padding: 3px;"> </span>
                <p class="card-text">&ge; 80% percentile</p>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card card-block text-center" style="padding: 4%;">
                <span class="icon-rocket gold" style="font-size: 4em; padding: 3px;"> </span>
                <p class="card-text">&ge; 60% percentile</p>
              </div>
            </div>

          </div>

          <div class="col-md-6">

            <div class="col-md-6">
              <div class="card card-block text-center" style="padding: 4%;">
                <span class="icon-rocket silver" style="font-size: 4em; padding: 3px;"> </span>
                <p class="card-text">&ge; 40% percentile</p>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card card-block text-center" style="padding: 4%;">
                <span class="icon-rocket bronze" style="font-size: 4em; padding: 3px;"> </span>
                <p class="card-text">&ge; 20% percentile</p>
              </div>
            </div>

          </div>
        </div>

      </div><!-- row -->

      <div class="row" style="margin: 5%;"  >
        <div class="col-md-4 text-center">
          <h2>Exit Bandwidth</h2>
        </div>

        <div class="col-md-8">
          <div class="col-md-6">

            <div class="col-md-6">
              <div class="card card-block text-center">
                <span class="icon-exit platinum" style="font-size: 4em; padding: 3px;"> </span>
                <p class="card-text">&ge; 80% percentile</p>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card card-block text-center">
                <span class="icon-exit gold" style="font-size: 4em; padding: 3px;"> </span>
                <p class="card-text">&ge; 60% percentile</p>
              </div>
            </div>

          </div>

          <div class="col-md-6">

            <div class="col-md-6">
              <div class="card card-block text-center">
                <span class="icon-exit silver" style="font-size: 4em; padding: 3px;"> </span>
                <p class="card-text">&ge; 40% percentile</p>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card card-block text-center">
                <span class="icon-exit bronze" style="font-size: 4em; padding: 3px;"> </span>
                <p class="card-text">&ge; 20% percentile</p>
              </div>
            </div>

          </div>
        </div>

      </div><!-- row -->

      <div class="row" style="margin: 5%;"  >
        <div class="col-md-4 text-center">
          <h2>Consensus Weight</h2>
        </div>

        <div class="col-md-8">
          <div class="col-md-6">

            <div class="col-md-6">
              <div class="card card-block text-center">
                <span class="icon-tree platinum" style="font-size: 4em; padding: 3px;"> </span>
                <p class="card-text">&ge; 80% percentile</p>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card card-block text-center">
                <span class="icon-tree gold" style="font-size: 4em; padding: 3px;"> </span>
                <p class="card-text">&ge; 60% percentile</p>
              </div>
            </div>

          </div>

          <div class="col-md-6">

            <div class="col-md-6">
              <div class="card card-block text-center">
                <span class="icon-tree silver" style="font-size: 4em; padding: 3px;"> </span>
                <p class="card-text">&ge; 40% percentile</p>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card card-block text-center">
                <span class="icon-tree bronze" style="font-size: 4em; padding: 3px;"> </span>
                <p class="card-text">&ge; 20% percentile</p>
              </div>
            </div>

          </div>
        </div>

      </div><!-- row -->

      <div class="row" style="margin: 5%;"  >
        <div class="col-md-4 text-center">
          <h2>Number of Countries</h2>
        </div>

        <div class="col-md-8">
          <div class="col-md-6">

            <div class="col-md-6">
              <div class="card card-block text-center">
                <span class="icon-earth platinum" style="font-size: 4em; padding: 3px;"> </span>
                <p class="card-text">&ge; 80% percentile</p>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card card-block text-center">
                <span class="icon-earth gold" style="font-size: 4em; padding: 3px;"> </span>
                <p class="card-text">&ge; 60% percentile</p>
              </div>
            </div>

          </div>

          <div class="col-md-6">

            <div class="col-md-6">
              <div class="card card-block text-center">
                <span class="icon-earth silver" style="font-size: 4em; padding: 3px;"> </span>
                <p class="card-text">&ge; 40% percentile</p>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card card-block text-center">
                <span class="icon-earth bronze" style="font-size: 4em; padding: 3px;"> </span>
                <p class="card-text">&ge; 20% percentile</p>
              </div>
            </div>

          </div>
        </div>

      </div><!-- row -->

      <div class="row" style="margin: 5%;"  >
        <div class="col-md-4 text-center">
          <h2>Number of Relays</h2>
        </div>

        <div class="col-md-8">
          <div class="col-md-6">

            <div class="col-md-6">
              <div class="card card-block text-center">
                <span class="icon-road platinum" style="font-size: 4em; padding: 3px;"> </span>
                <p class="card-text">&ge; 80% percentile</p>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card card-block text-center">
                <span class="icon-road gold" style="font-size: 4em; padding: 3px;"> </span>
                <p class="card-text">&ge; 60% percentile</p>
              </div>
            </div>

          </div>

          <div class="col-md-6">

            <div class="col-md-6">
              <div class="card card-block text-center">
                <span class="icon-road silver" style="font-size: 4em; padding: 3px;"> </span>
                <p class="card-text">&ge; 40% percentile</p>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card card-block text-center">
                <span class="icon-road bronze" style="font-size: 4em; padding: 3px;"> </span>
                <p class="card-text">&ge; 20% percentile</p>
              </div>
            </div>

          </div>
        </div>

      </div><!-- row -->


    </div><!-- center-block -->
  </div> <!-- container -->


</body>
</html>
