<html>
<head>
  <title>Badges</title>
  <!-- Bootstrap -->
    <script src="/static/js/jquery-1.11.2.min.js"></script>
  	<script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.qtip.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">

  	<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
  	<script src="/static/js/collapse.js"></script>
    <link href="/static/css/navbar.css" rel="stylesheet">
    <link href="/static/css/badges.css" rel="stylesheet">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<style>
  .badge {
    float: left;
    display: inline;
  }
</style>

<body>

  {% include "navbar.html" %}

  <div class="container text-center">
      <div class="row" style="margin-top: 5%;">
        <h1>Badges</h1>
      </div>

      {% for badge in badges_list %}
      <h2 class="text-center">{{ badge["name"] }}</h2>

      {% if badge["tiers"] == 4 %}
      <div class="row text-center" style="margin: 2%; padding: 2%;">
        <div class="row" style="margin: 2%; padding: 2%;">
          <div class="col-md-3">
          </div>
          <div class="col-md-3">
            <h4><span class="icon icon-{{badge['icon']}} platinum"></span></h4>
          </div>
          <div class="col-md-3">
            <h4><span class="icon icon-{{badge['icon']}} gold"></span></h4>
          </div>
          <div class="col-md-3">
          </div>
        </div>
        <div class="row" style="margin: 2%; padding: 2%;">
          <div class="col-md-3">
          </div>
          <div class="col-md-3">
            <h4><span class="icon icon-{{badge['icon']}} silver"></span></h4>
          </div>
          <div class="col-md-3">
            <h4><span class="icon icon-{{badge['icon']}} bronze"></span></h4>
          </div>
          <div class="col-md-3">
          </div>
        </div>
      </div>

      {% else %}

      <div class="row text-center"  style="margin: 2%; padding: 2%;">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
          <h4><span id="enlarged-icon" class='icon icon-{{badge["icon"]}} orange'></span></h4>
        </div>
        <div class="col-md-3">
          <h4><span id="enlarged-icon" class='icon icon-{{badge["icon"]}}'></span></h4>
        </div>
        <div class="col-md-3">
        </div>
      </div>

      {% endif %}
      </div>
      {% endfor %}


  </div> <!-- container -->


</body>
</html>
