<html>
<head>
  <title>Dashboard for {{ family["contact"][0] }}</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="/static/js/transition.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="/static/css/navbar.css" rel="stylesheet">
  <link href="/static/css/badges.css" rel="stylesheet">
	<script src="/static/js/collapse.js"></script>
  <style>
     html, body, #map-canvas {
       height: 94%;
       width: 95%;
       padding: 0.5%;
       margin: auto;
       position: absolute;
       top: 2%;
       left: 0;
       bottom: 0;
       right: 0;
     }
   </style>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <script>
    var map;
    function initialize() {
     var mapOptions = {
       zoom: 2,
       center: new google.maps.LatLng(25, 0)
     };

     map = new google.maps.Map(document.getElementById('map-canvas'),
         mapOptions);

      {% set counter = 1 %}
      {% for marker in markers.keys() %}
        var marker{{ counter }} = new google.maps.Marker({
          position: new google.maps.LatLng({{ marker[0] }}, {{ marker[1] }}),
          map: map
        })

        var contentString = "<div id='container'><h4>Relays: {{ markers[marker] | length }}</h4>";
        {% for relay in markers[marker] %}
          contentString = contentString + "<p>{{ relay }}</p>";
        {% endfor %}
        contentString = contentString + "</div>";

        console.log(contentString);

        var infoWindow{{ counter }} = new google.maps.InfoWindow({
          content: contentString
        });

        google.maps.event.addListener(marker{{ counter }}, "click", function() {
          infoWindow{{counter}}.open(map, marker{{ counter }});
        });

        {% set counter = counter + 1 %}

      {% endfor %}
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>

  <script type="text/javascript">
    var relays = document.getElementById("relays");

    relays.onclick = function() {
      window.scrollTo(0,document.body.scrollHeight);
    };

  </script>


	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  {% include "navbar.html" %}

  <div class="container">
      <div class="row" style="margin:2%;">
          <h2>{{ family["contact"][0] }}</h2>
      </div>
      <div id="map-canvas" style="position:relative;"></div>
      {% include "family_badges_and_stats.html" %}

      <div class="row" style="margin:2%;">
        <button id="relays" class="btn btn-warning" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Relays (sorted by bandwidth)
        </button>
      </div>
      <div class="collapse" id="collapseExample">
      <div class="accordion" id="accordion" role="tablist" aria-multiselectable="false">
      <div class="panel-group">
          {% set counter = 1 %}
          {% for relay in family["families"] %}
            {% include "relay_detail.html" %}
            {% set counter = counter + 1 %}
          {% endfor %}
      </div>
    </div>
  </div>
  </div>
</body>
</html>
