<div class="row" style="margin:2%;">

  <!-- Aggregate Data section -->

  <div id="banner" class="row" style="margin: 2%; padding: 2%;">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
      <h2>Aggregate Data</h2>
    </div>
    <div class="col-md-4">
    </div>
  </div>

  <div class="row" style="margin: 2%; padding: 2%;">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h4>Total Points</h4>
      <h2>{{ family["badges"]["overall_rank"] | int() }}</h2>
    </div>
    <div class="col-md-4">
    </div>
  </div>

  <div class="row" style="margin: 2%; padding: 2%;">
    <div class="col-md-4">
      <h4>Bandwidth Points</h4>
      <h2>{{ (family["bandwidth_points"] / (1000.0 * 1000.0)) | int() }}</h2>
    </div>
    <div class="col-md-4">
      <h4>Consensus Weight Points</h4>
      <h2>{{ family["consensus_points"] | int() }}</h2>
    </div>
    <div class="col-md-4">
      <h4>Bandwidth</h4>
      <h2>{{ "%.2f" | format(family["observed_bandwidth"] / (1000.0 * 1000.0)) }} MB/s</h2>
    </div>
  </div>

  <div class="row" style="margin: 2%; padding: 2%;">
    <div class="col-md-4">
      <h4>Consensus Weight</h4>
      <h2>{{ family["consensus_weight"]}} ({{ "%.3f" | format(family["consensus_weight_fraction"] * 100) }}%)</h2>
    </div>
    <div class="col-md-4">
      <h4>Exit Probability</h4>
      <h2>{{ "%.3f" | format(family["exit_probability"] * 100) }}%</h2>
    </div>
    <div class="col-md-4">
      <h4>Number of relays</h4>
      <h2>{{ family["families"] | length }}</h2>
    </div>
  </div>

  <div class="row" style="margin: 2%; padding: 2%;">
    <div class="col-md-4">
      <h4>Middle Probability</h2>
      <h2>{{ "%.3f" | format(family["middle_probability"] * 100) }}%</h2>
    </div>
    <div class="col-md-4">
      <h4>Contact</h4>
      {% for contact in family["contact"] %}
      <h5 style="padding: 1%;">{{contact}}</h5>
      {% endfor %}
    </div>
    <div class="col-md-4">
      <h4>Bitcoin Address</h4>
      {% if family["bitcoin_addr"] != "None" %}
        <a target="_blank" href="https://blockchain.info/address/{{ family['bitcoin_addr'] }}"><h4>{{ family["bitcoin_addr"] }}</h4></a>
      {% else %}
        <h2>None</h2>
      {% endif %}
    </div>
  </div>

  <!-- End Aggregate data section -->


  <!-- Badges section -->

  <div id="banner" class="row" style="margin: 2%; padding: 2%;">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
      <h2>Badges</h2>
    </div>
    <div class="col-md-4">
    </div>
  </div>

  <div class="row" style="margin: 2%;">
    <div class="col-md-4">
      <h4><span title='Bandwidth Badge | {{ "%.2f" | format(family["badges"]["bandwidth"][0] * (100.0)) }} percentile' class="icon icon-rocket {{ family['badges']['bandwidth'][1]}}"></span></h4>
    </div>
    <div class="col-md-4">
      <h4><span title='Exit Bandwidth Badge | {{ "%.2f" | format(family["badges"]["exit_bandwidth"][0] * (100.0)) }} percentile' class="icon icon-exit {{ family['badges']['exit_bandwidth'][1]}}"></span></h4>
    </div>
    <div class="col-md-4">
      <h4><span title='Consensus Weight Badge | {{ "%.2f" | format(family["badges"]["consensus_weight"][0] * (100.0)) }} percentile' class="icon icon-library {{ family['badges']['consensus_weight'][1]}}"></span></h4>
    </div>
  </div>

  <div class="row" style="margin: 2%;">
    <div class="col-md-4">
      <h4><span title='Exit Relay Country Diversity | {{ "%.2f" | format(family["badges"]["country_exit_diversity"][0] * (100.0)) }} percentile' class="icon icon-podcast {{ family['badges']['country_exit_diversity'][1]}}"></span></h4>
    </div>
    <div class="col-md-4">
      <h4><span title='Guard Relay Country Diversity | {{ "%.2f" | format(family["badges"]["country_guard_diversity"][0] * (100.0)) }} percentile' class="icon icon-marvin {{ family['badges']['country_guard_diversity'][1]}}"></span></h4>
    </div>
    <div class="col-md-4">
      <h4><span title='Exit Relay AS Org Diversity | {{ "%.2f" | format(family["badges"]["org_exit_diversity"][0] * (100.0)) }} percentile' class="icon icon-organization {{ family['badges']['org_exit_diversity'][1]}}"></span></h4>
    </div>
  </div>

  <div class="row" style="margin: 2%;">
    <div class="col-md-4">
      <h4><span title='Guard Relay AS Org Diversity | {{ "%.2f" | format(family["badges"]["org_guard_diversity"][0] * (100.0)) }} percentile' class="icon icon-spaceinvaders {{ family['badges']['org_guard_diversity'][1]}}"></span></h4>
    </div>
    <div class="col-md-4">
      <h4><span title='Country Count Badge | {{ family["badges"]["num_countries"][0] }} countries' class="icon icon-earth {{ family['badges']['num_countries'][1]}}"></span></h4>
    </div>
    <div class="col-md-4">
      <h4><span title='Relay Count Badge |  {{ family["badges"]["num_relays"][0] }} relays' class="icon icon-airplane {{ family['badges']['num_relays'][1]}}"></span></h4>
    </div>
  </div>

  <div class="row" style="margin: 2%;">

    <div class="col-md-4">
      <h4><span id="enlarged-icon" title="Has Contact for Half of Relays | {{family['badges']['has_contact_for_half']}}" class='icon icon-book2 {% if family["badges"]["has_contact_for_half"] %}orange{% endif %}'></span></h4>
    </div>
    <div class="col-md-4">
      <h4><span id="enlarged-icon" title="Half of Relays Are Guards | {{family['badges']['has_guard_for_half']}}"
        class='icon icon-cone {% if family["badges"]["has_guard_for_half"] %}orange{% endif %}'></span></h4>
    </div>
    <div class="col-md-4">
      <h4><span id="enlarged-icon" title="Geo Diversity in Relays (Number of countries / Number of relays ≥ 0.5) | {{family['badges']['geo_diversity']}}"
        class='icon icon-globe {% if family["badges"]["geo_diversity"] %}orange{% endif %}'></span></h4>
    </div>

  </div>

  <div class="row" style="margin: 2%;">

    <div class="col-md-4">
      <h3><span id="enlarged-icon" title="Runs Recommended Tor Version For All Relays | {{family['badges']['runs_recommended_tor']}}" class='icon icon-mortar-board {% if family["badges"]["runs_recommended_tor"] %}orange{% endif %}'></span></h3>
    </div>
    <div class="col-md-4">
      <h3><span id="enlarged-icon" title="Has an IPv6 Relay | {{family['badges']['has_ipv6']}}"  class='icon icon-paperplane {% if family["badges"]["has_ipv6"] %}orange{% endif %}'></span></h3>
    </div>
    <div class="col-md-4">
      <h3><span id="enlarged-icon" title="Has an IPv6 Exit Relay | {{family['badges']['has_ipv6_for_exit']}}" class='icon icon-rocket2 {% if family["badges"]["has_ipv6_for_exit"] %}orange{% endif %}'></span></h3>
    </div>

  </div>

  <div class="row" style="margin: 2%;">
    <div class="col-md-4">
      <h4><span title='Age of Family | {{ "%.2f" | format(family["badges"]["age_of_family"][0] * (100.0)) }} percentile' class="icon icon-hipster2 {{ family['badges']['age_of_family'][1]}}"></span></h4>
    </div>
    <div class="col-md-4">
      <h4><span title='Maximum Uptime | {{ "%.2f" | format(family["badges"]["maximum_uptime"][0] * (100.0)) }} percentile' class="icon icon-clock2 {{ family['badges']['maximum_uptime'][1]}}"></span></h4>
    </div>
    <div class="col-md-4">
    </div>
  </div>

  <!-- <div class="row" style="margin: 2%;">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
  </div>

  <div class="row" style="margin: 2%;">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
  </div>

  <div class="row" style="margin: 2%;">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
  </div>
 -->


  <!-- <div class="col-md-6">
    <div class="row" id="stats">
      <h2>Aggregate Data</h2>
    </div>
    <div class="row" id="stats">
      <h3>Bandwidth Points</h3>
      <h4>{{ "%.2f" | format(family["bandwidth_points"] / (1000.0 * 1000.0))}}</h4>
    </div>
    <div class="row" id="stats">
      <h3>Consensus Weight Points</h3>
      <h4>{{ "%.2f" | format(family["consensus_points"]) }}</h4>
    </div>
    <div class="row" id="stats">
      <h3>Bandwidth</h3>
      <h4>{{ "%.2f" | format(family["observed_bandwidth"] / (1000.0 * 1000.0)) }} MB/s</h4>
    </div>
    <div class="row" id="stats">
      <h3>Consensus Weight</h3>
      <h4>{{ family["consensus_weight"]}} ({{ "%.3f" | format(family["consensus_weight_fraction"] * 100) }}%)</h4>
    </div>
    <div class="row" id="stats">
      <h3>Exit Probability</h3>
      <h4>{{ "%.3f" | format(family["exit_probability"] * 100) }}%</h4>
    </div>
    <div class="row" id="stats">
      <h3>Number of relays</h3>
      <h4>{{ family["families"] | length }}</h4>
    </div>
    <div class="row" id="stats">
      <h3>Middle Probability</h3>
      <h4>{{ "%.3f" | format(family["middle_probability"] * 100) }}%</h4>
    </div>
    <div class="row" id="stats">
      <h3>Contact</h3>
      {% for contact in family["contact"] %}
      <h4 style="padding: 1%;">{{contact}}</h4>
      {% endfor %}
    </div>
    <div class="row" id="stats">
      <h3>Bitcoin Address</h3>
      {% if family["bitcoin_addr"] != "None" %}
        <a target="_blank" href="https://blockchain.info/address/{{ family['bitcoin_addr'] }}"><h4>{{ family["bitcoin_addr"] }}</h4></a>
      {% else %}
        <h4>None</h4>
      {% endif %}
    </div>
    {% if family["eligible_for_tshirt"] %}
    <div class="row" id="stats">
      <h3>This operator is eligible for a <a href="https://www.torproject.org/getinvolved/tshirt.html" target="_blank">
        Tor t-shirt!</a><span style="text-align: center;"><img src="/static/img/badges/tshirt.jpg" style="max-width: 50%; max-height: 50%;"></span></h3>
    </div>
    {% else %}
    {% endif %}
  </div>





  <div class="col-md-6">
    <div class="row">
      <h2>Badges</h2>
    </div>
    <div class="row" id="stats">
      <h3>Bandwidth Badge</h3>
      <h4><span class="icon icon-rocket {{ family['badges']['bandwidth'][1]}}"></span> {{ "%.2f" | format(family["badges"]["bandwidth"][0] * (100.0)) }} percentile</h4>
    </div>
    <div class="row" id="stats">
      <h3>Exit Bandwidth Badge</h3>
      <h4><span class="icon icon-exit {{ family['badges']['exit_bandwidth'][1]}}"></span> {{ "%.2f" | format(family["badges"]["exit_bandwidth"][0] * (100.0)) }} percentile</h4>
    </div>
    <div class="row" id="stats">
      <h3>Consensus Weight Badge</h3>
      <h4><span class="icon icon-tree {{ family['badges']['consensus_weight'][1]}}"></span> {{ "%.2f" | format(family["badges"]["consensus_weight"][0] * (100.0)) }} percentile</h4>
    </div>
    <div class="row" id="stats">
      <h3>Exit Relay Country Diversity</h3>
      <h4><span class="icon icon-eject {{ family['badges']['country_exit_diversity'][1]}}"></span> {{ "%.2f" | format(family["badges"]["country_exit_diversity"][0] * (100.0)) }} percentile</h4>
    </div>
    <div class="row" id="stats">
      <h3>Guard Relay Country Diversity</h3>
      <h4><span class="icon icon-home3 {{ family['badges']['country_guard_diversity'][1]}}"></span> {{ "%.2f" | format(family["badges"]["country_guard_diversity"][0] * (100.0)) }} percentile</h4>
    </div>
    <div class="row" id="stats">
      <h3>Exit AS Organization Diversity</h3>
      <h4><span class="icon icon-spades {{ family['badges']['org_exit_diversity'][1]}}"></span> {{ "%.2f" | format(family["badges"]["country_exit_diversity"][0] * (100.0)) }} percentile</h4>
    </div>
    <div class="row" id="stats">
      <h3>Guard AS Organization Diversity</h3>
      <h4><span class="icon icon-clubs {{ family['badges']['org_guard_diversity'][1]}}"></span> {{ "%.2f" | format(family["badges"]["country_guard_diversity"][0] * (100.0)) }} percentile</h4>
    </div>
    <div class="row" id="stats">
      <h3>Number of Countries</h3>
      <h4><span class="icon icon-earth {{ family['badges']['num_countries'][1]}}"></span> {{ family["badges"]["num_countries"][0] }} countries</h4>
    </div>
    <div class="row" id="stats">
      <h3>Number of Relays</h3>
      <h4><span class="icon icon-airplane {{ family['badges']['num_relays'][1]}}"></span> {{ family["badges"]["num_relays"][0] }} relays</h4>
    </div>
    <div class="row" id="stats">
      <h3>Has Contact For At Least Half of Relays</h3>
      {% if family["badges"]["has_contact_for_half"] %}
      <h4><span><i class="fa fa-check fa-2x" style="color:#ef8b05"></i></span></h4>
      {% else %}
      <h4><span><i class="fa fa-check fa-2x" style="color:#D3D3D3"></i></span></h4>
      {% endif %}
    </div>
    <div class="row" id="stats">
      <h3>Has Guard For At Least Half of Relays</h3>
      {% if family["badges"]["has_guard_for_half"] %}
      <h4><span><i class="fa fa-check fa-2x" style="color:#ef8b05"></i></span></h4>
      {% else %}
      <h4><span><i class="fa fa-check fa-2x" style="color:#D3D3D3"></i></span></h4>
      {% endif %}
    </div>
    <div class="row" id="stats">
      <h3>Geo Diversity in Relays (Number of countries / Number of relays &ge 0.5)</h3>
      {% if family["badges"]["geo_diversity"] %}
      <h4><span><i class="fa fa-check fa-2x" style="color:#ef8b05"></i></span></h4>
      {% else %}
      <h4><span><i class="fa fa-check fa-2x" style="color:#D3D3D3"></i></span></h4>
      {% endif %}
    </div>
    <div class="row" id="stats">
      <h3>Runs Recommended Tor Version For All Relays</h3>
      {% if family["badges"]["runs_recommended_tor"] %}
      <h4><span><i class="fa fa-check fa-2x" style="color:#ef8b05"></i></span></h4>
      {% else %}
      <h4><span><i class="fa fa-check fa-2x" style="color:#D3D3D3"></i></span></h4>
      {% endif %}
    </div>
  </div> -->


</div>
