<html>
<head>
  <title>Frequently Asked Questions</title>
  <script src="/static/js/jquery-1.11.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/jquery.qtip.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  <script src="/static/js/transition.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="/static/css/navbar.css" rel="stylesheet">
  <link href="/static/css/badges.css" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.1/jquery.qtip.min.css" rel="stylesheet">
	<script src="/static/js/collapse.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  {% include "navbar.html" %}

  <div class="container text-center">
    <div class="row" style="margin: 5%;">
      <h1>Frequently Asked Questions</h1>
    </div>

    <div class="panel-group" id="accordion">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
            How is the data collected?</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">All the data on Roster comes from <a href="https://onionoo.torproject.org/index.html" target="_blank">Onionoo</a>.
            Relays and their stats are then grouped into families based on their extended_family fields.<br>
            Raw data downloaded and processed every hour using consensus data provided from Onionoo.</div>
        </div>
      </div>
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
            How are points calculated?</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
            The points are calculated via a linear combination of the various relay stats. These include bandwidth, <br> consensus weight, number of relays, multiple diversity
            metrics of the family, etc. Each stat is assigned a coefficient/weight.
          </div>
        </div>
      </div>
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
            Who's behind this?</a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">
            Roster is maintained and developed by Sean Saito and Virgil Griffith.
          </div>
        </div>
      </div>
    </div>

  </div> <!-- container -->
</body>
</html>
