<html>
<head>
<title>Roster</title>
<!-- Bootstrap -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
	<script src="/static/js/jquery.simplePagination.js"></script>
	<script src="/static/js/collapse.js"></script>
	<script src="/static/js/jquery.autocomplete.js"></script>

	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/static/css/navbar.css" rel="stylesheet">
	<link href="/static/css/simplePagination.css" rel="stylesheet">
	<link href="/static/css/searchbar.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	{% include "navbar.html" %}

	<div class="container">
		<div class="center-block">
			<div class="row">
				<div class="span12">
					<div class="span12">
						<div class="row">
							<div id="searchfield">
								<form><input type="text" name="relay" class="biginput" id="autocomplete" placeholder="Search for a fingerprint or a nickname"></form>
							</div><!-- @end #searchfield -->
						</div>
						<div class="row">
							<h2>Overview</h2>
						</div>
						<div class="nav row" id="tab-nav">
							<ul class="nav nav-tabs">
							  <li class="active" id="showBandwidth"><a href="#">Bandwidth</a></li>
							  <li id="showConsensus"><a href="#">Consensus</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div id="bandwidth">
			<div class="row">
	          <div class="span12">
	              {%block content%}
	              <div class="bs-example">
	                <table id="bandwidth_table" class="table table-hover table-striped table-condensed" align="right">
	                  <thead>
											<th>Rank</th>
                      <th>Operator</th>
											<th style="width: 15%;">Points</th>
	                    <th style="width: 15%;">Agg. Bandwidth</th>
<!--	                    <th>Head Fingerprint</th> -->
	                    <th>Relays</th>
											<th>Countries</th>
											<th>Exit Relays</th>
											<th>Guard Relays</th>
	                  </thead>
	                  <tbody>
											{% set rank=1 %}
	                    {% for family in top10_bandwidth %}
	                      {% include "relay.html" %}
												{% set rank = rank + 1 %}
	                    {% endfor %}
	                  </tbody>
	                </table>
	              </div>
	          </div>
	      </div>
				<div class="pagination-page-bandwidth" style="padding-bottom: 100px;"></div>
			</div> <!-- bandwidth -->

				<div id="consensus" style="display: none;">
				<div class="row">
							<div class="span12">
									<div class="bs-example">
										<table id="consensus_table" class="table table-hover table-striped table-condensed" align="right">
											<thead>
												<th>Rank</th>
												<th>Operator</th>
												<th>Points</th>
												<th>Agg. Consensus Weight</th>
<!--												<th>Head Fingerprint</th> -->
												<th>Relays</th>
												<th>Countries</th>
												<th>Exit Relays</th>
												<th>Guard Relays</th>
											</thead>
											<tbody>
												{% set rank_consensus = 1 %}
												{% for family in top10_consensus %}
													{% include "relay_consensus.html" %}
													{% set rank_consensus  = rank_consensus + 1 %}
												{% endfor %}
											</tbody>
										</table>
									</div>
									{% endblock %}
							</div>
					</div>
					<div class="pagination-page-consensus" style="padding-bottom: 100px;"></div>
				</div>

		</div>
	</div>
	<script>
		var tableA = document.getElementById("bandwidth");
		var tableB = document.getElementById("consensus");

		var btnTabA = document.getElementById("showBandwidth");
		var btnTabB = document.getElementById("showConsensus");

		btnTabA.onclick = function () {
			tableA.style.display = "block";
			tableB.style.display = "none";
			btnTabA.className = "active";
			btnTabB.className = "";
		}
		btnTabB.onclick = function () {
			tableA.style.display = "none";
			tableB.style.display = "block";
			btnTabA.className = "";
			btnTabB.className = "active";
		}

	</script>
	<script>
		jQuery(function($) {

			var items = $("table#bandwidth_table tbody tr");

			var numItems = items.length;
			var perPage = 10;

			items.slice(perPage).hide();

			$(".pagination-page-bandwidth").pagination({
				items: numItems,
				itemsOnPage: perPage,
				cssStyle: "light-theme",
				onPageClick: function(pageNumber) {
					var showFrom = perPage * (pageNumber - 1);
					var showTo = showFrom + perPage;

					items.hide().slice(showFrom, showTo).show();
				}
			});

		});
	</script>
	<script>
	jQuery(function($) {

		var items = $("table#consensus_table tbody tr");

		var numItems = items.length;
		var perPage = 10;

		items.slice(perPage).hide();

		$(".pagination-page-consensus").pagination({
			items: numItems,
			itemsOnPage: perPage,
			cssStyle: "light-theme",
			onPageClick: function(pageNumber) {
				var showFrom = perPage * (pageNumber - 1);
				var showTo = showFrom + perPage;

				items.hide().slice(showFrom, showTo).show();
			}
		});

	});

	</script>
	<script>
	var relays = []
	$(function() {
		{% for relay in all_relays %}
		relays.push({
			value: '{{relay["fingerprint"] | safe}}' + "   (" + '{{relay["nickname"] | safe}}' + ")",
			data: '{{relay["fingerprint"] | safe}}'
		});
		{% endfor %}
		console.log(relays);
	});
	$("#autocomplete").autocomplete({
		lookup: relays,
		onSelect: function(selection) {
			window.location.replace(window.location.href + "family_detail/" + selection.data);
		}
	});

	</script>
</body>
</html>
