<html>
<head>
<title>Roster</title>
<!-- Bootstrap -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/static/css/navbar.css" rel="stylesheet">
	<script src="/static/js/collapse.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	{% include "navbar.html" %}

	<div class="container">
		<div class="center-block">
			<div class="row">
				<div class="span12">
					<div class="span12">
						<div class="row">
							<h2>Overview</h2>
						</div>
						<div class="row">
							<input type="button" id="showBandwidth" value="Bandwidth">
							<input type="button" id="showConsensus" value="Consensus Weight">
						</div>
					</div>
				</div>
			</div>

			<div class="row"  id ="bandwidth">
	          <div class="span12">
	              {%block content%}
	              <div class="bs-example">
	                <table class="table table-hover table-striped table-condensed" align="right">
	                  <thead>
                      <th>Operator</th>
											<th style="width: 15%;">Points</th>
	                    <th style="width: 15%;">Agg. Bandwidth</th>
<!--	                    <th>Head Fingerprint</th> -->
	                    <th>Relays</th>
											<th>Countries</th>
											<th>Exit Relays</th>
											<th>Guard Relays</th>
	                  </thead>
	                  <tbody>
	                    {% for family in top10_bandwidth %}
	                      {% include "relay.html" %}
	                    {% endfor %}
	                  </tbody>
	                </table>
	              </div>
	          </div>
	      </div>

				<div class="row" id ="consensus" style="display: none;">
							<div class="span12">
									<div class="bs-example">
										<table class="table table-hover table-striped table-condensed" align="right">
											<thead>
												<th>Operator</th>
												<th>Points</th>
												<th>Agg. Consensus Weight</th>
<!--												<th>Head Fingerprint</th> -->
												<th>Relays</th>
												<th>Countries</th>
												<th>Exit Relays</th>
												<th>Guard Relays</th>
											</thead>
											<tbody>
												{% for family in top10_consensus %}
													{% include "relay_consensus.html" %}
												{% endfor %}
											</tbody>
										</table>
									</div>
									{% endblock %}
							</div>
					</div>

		</div>
	</div>
	<script>
		var tableA = document.getElementById("bandwidth");
		var tableB = document.getElementById("consensus");

		var btnTabA = document.getElementById("showBandwidth");
		var btnTabB = document.getElementById("showConsensus");

		btnTabA.onclick = function () {
			tableA.style.display = "block";
			tableB.style.display = "none";
		}
		btnTabB.onclick = function () {
			tableA.style.display = "none";
			tableB.style.display = "block";
		}
	</script>
</body>
</html>
