<tr>
  {% set fingerprint = family["families"][0]["fingerprint"] %}
  <td style="width: 20%;"><a href="{{ url_for('family_detail', fingerprint=fingerprint) }}">{{ family["contact"][0] }}</a></th>
  <td>{{ "%.2f" | format(family["consensus_points"]) }}</td>
  <td class="text-center" style="width: 20%;">{{ family["consensus_weight"]}} ({{ "%.3f" | format(family["consensus_weight_fraction"] * 100) }}%)</td>
  <td class="text-center">{{ family["families"] | length }}</td>
  <td class="text-center">{{ family["countries"] | length }}</td>
  <td class="text-center">{{ family["exit"] }}</td>
  <td class="text-center">{{ family["guard"] }}</td>
</tr>
