{% set fingerprint = family["families"][0]["fingerprint"] %}
<tr onclick="window.document.location='/family_detail/{{fingerprint}}';" style="cursor: pointer; cursor: hand;">
  <!-- <a href="{{ url_for('family_detail', fingerprint=fingerprint) }}"> -->
  <td class="text-center">{{ rank }}</td>
  <td style="width: 20%;">{{ family["contact"][0] }}</th>
  <td style="width: 5%;">{{ "%.2f" | format(family["bandwidth_points"] / (1000.0 * 1000.0)) }}</td>
  <td>{{ "%.2f" | format(family["observed_bandwidth"] / (1000.0 * 1000.0)) }} MB/s</td>
  <td class="text-center">{{ family["families"] | length }}</td>
  <td class="text-center">{{ family["countries"] | length }}</td>
  <td class="text-center">{{ family["exit"] }}</td>
  <td class="text-center">{{ family["guard"] }}</td>
<!-- </a> -->
</tr>
